<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujian.financial_client.mapper.UserMapper">


<select id="getOneUser" parameterType="com.yujian.financial_client.pojo.User" resultType="com.yujian.financial_client.pojo.User">



            select username,password from user  where username =#{username}


</select>


    <insert id="addUser" parameterType="com.yujian.financial_client.pojo.User">

            insert into financial_client.user (username, password) values (#{username},#{password})

    </insert>

    <update id="updateUser" parameterType="com.yujian.financial_client.pojo.User">

            update  financial_client.user set username=#{username},password=#{password} where username=#{username}


    </update>
    <delete id="deleteUser" parameterType="string">
   delete from financial_client.user where  username=#{username}


    </delete>
<!--resultType  查询结果映射必填  -->

</mapper>