<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预见科技</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        .layui-table th {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div class="layui-layout-admin layui-icon-layout">
    <div th:replace="~{common/toplayui::top}"></div>

    <div th:replace="~{common/leftlayui::left}"></div>


    <!--tab标签 右侧区域-->
    <div class="layui-tab" lay-allowclose="true" style="margin-left: 200px;transform:translateY(38px)">


        <div class="layui-tab-content">
            <div class="layui-row">


                <div>


                            <div style="text-align: center;">
                                <label style="font-size: 35px">国家管理</label>
                            </div>
                            <div>
                                <button id="addCountry" type="button" class=" layui-btn layui-btn-normal ">
                                    <i class="layui-icon layui-icon-addition"></i>添加数据
                                </button>
                            </div>

                    <table id="country-table" lay-filter="country-table"></table>


                </div>

                <div>


                    <div style="text-align: center;">
                        <label style="font-size: 35px">客户名字管理</label>
                    </div>
                    <div>
                        <button id="customerNameAdd" type="button" class=" layui-btn layui-btn-normal ">
                            <i class="layui-icon layui-icon-addition"></i>添加数据
                        </button>
                    </div>

                    <table id="customerName-table" lay-filter="country-table"></table>
                </div>



            </div>


        </div>


    </div>

    <!--    <div class="layui-footer">-->
    <!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--    </div>-->
</div>

<script src="layui/layui.js"></script>
<div th:replace="~{common/toplayui::scrpt}"></div>
//顶部的script
<script type="text/javascript" th:inline="javascript">

    var ctxPath = [[@{/}]];


    layui.use([ 'layer', 'jquery', 'table', 'form'], function () {
        var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var form = layui.form;


        //给当前行绑定事件  回调函数形参为当前行内容
        table.on('tool(country-table)', function (obj) {


            //删除操作
            layer.confirm('确定删除吗?', {icon: 1, title: '提示'}, function (index) {
                //删除逻辑的实现

                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                layer.msg("成功删除");
                $.getJSON(ctxPath+"deleteCountry", {id: obj.data.id}, function () {
                });

            });

        });

        //给添加国家按钮绑定事件
        $("#addCountry").click(function () {
            layer.open({
                type: 2,
                title: "添加国家名字",
                content: ctxPath+"addCountryForm",
                area: ['400px', '300px'],
                closeBtn: 2,
                end: function () {
                    table.reload('country-table');

                },

            });


        });
        //国家表格
        table.render({
            elem: "#country-table",
            url: ctxPath+"getAllCountry", //数据
            page: true,
            limit: 15,
            limits: [15, 30, 50, 100, 200],
            cols: [
                [
                    {
                        field: 'name',
                        title: '国家',


                    },

                    {
                        field: 'id',
                        hide: true,//这个字段已经隐藏
                    },


                    {
                        title: '操作',
                        align: 'center',
                        templet: function () {

                            let str = "<button type=\"button\" class=\"layui-btn  layui-btn-xs  layui-btn-danger\" lay-event='del' >删除</button>";
                            return str;
                        }

                    }

                ]
            ]

        });








        //给添加客户按钮绑定事件
        $("#customerNameAdd").click(function () {
            layer.open({
                type: 2,
                title: "添加客户名字",
                content: ctxPath + "customerNameAddForm",
                area: ['400px', '300px'],
                closeBtn: 2,
                end: function () {
                    table.reload('customerName-table');

                },

            });
        });




        //客户名字表
        table.render({
            elem: "#customerName-table",
            url: ctxPath+"AllCustomerName", //数据
            page: true,
            limit: 15,
            limits: [15, 30, 50, 100, 200],
            cols: [
                [
                    {
                        field: 'name',
                        title: '客户名字',


                    },

                    {
                        field: 'id',
                        hide: true,//这个字段已经隐藏
                    },


                    {
                        title: '操作',
                        align: 'center',
                        templet: function () {

                            let str = "<button type=\"button\" class=\"layui-btn  layui-btn-xs  layui-btn-danger\" lay-event='del' >删除</button>";
                            return str;
                        }

                    }

                ]
            ]

        });




        // 获取路径   侧边栏添加选中状态
        function GetUrlRelativePath() {
            var url = document.location.toString();
            var arrUrl = url.split("//");

            var start = arrUrl[1].indexOf("/");
            var relUrl = arrUrl[1].substring(start);// stop省略，截取从start开始到结尾的所有字符

            if (relUrl.indexOf("?") != -1) {
                relUrl = relUrl.split("?")[0];
            }
            return relUrl;
        }

        /**
         * 选中菜单默认打开
         */
        $(document).ready(function () {
            var url = GetUrlRelativePath();
            var patt1 = new RegExp(url);
            $(document.body).find('a').each(function (i, obj) {
                var str = $(obj).attr('href');
                if (patt1.test(str)) {
                    $(obj).parent().addClass("layui-this");
                }
            });
        });

    });


</script>

</body>
</html>