<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="icon" href="/favicon.ico">
<!--  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">-->
  <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-container">
  <form class="layui-form"  method="post">
    <div class="layui-form-item">
      <label class="layui-form-label">销售合同号</label>
      <div class="layui-input-block">
        <input type="text" name="id" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">国家</label>
      <div class="layui-input-block">
        <select name="country" autocomplete="off" >
          <option value="">选择国家</option>
          <option th:each="country:${countryList}" th:value="${country.name}" th:text="${country.name}"></option>

        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">客户名字</label>
      <div class="layui-input-block">
        <select name="customer" >
          <option value="">选择客户</option>
          <option th:each="customerName:${customerNameList}" th:value="${customerName.name}" th:text="${customerName.name}"></option>
        </select>
      </div>
    </div>


    <div class="layui-form-item">
      <label class="layui-form-label">交易币种</label>
      <div class="layui-input-block">
        <select name="currency" >
          <option value="">请选择币种</option>
          <option value="人民币￥">人民币￥</option>
          <option value="美金$">美金$</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">合同</label>
      <div class="layui-input-block">
        <input type="text" name="contract" required  lay-verify="required" placeholder="请输入合同" autocomplete="off"  class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">发货金额</label>
      <div class="layui-input-block">
        <input type="text" name="send" placeholder="请输入发货" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">回款</label>
      <div class="layui-input-block">
        <input type="text" name="paymentCollection" required  lay-verify="required" placeholder="请输入回款"  autocomplete="off" class="layui-input">
      </div>
    </div>


    <div class="layui-form-item">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <input type="text" name="notes"   placeholder="请输入备注"  class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button id="addCustomer" class="layui-btn " lay-submit lay-filter="addCustomer">点击添加</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
</div>
<script src="layui/layui.js"></script>
<script th:inline="javascript">
  var ctxPath = [[@{/}]];

  layui.use(['form','layer','jquery'],function (){
    var  form = layui.form;
    var   layer  = layui.layer;
    var   $ = layui.$;


    //监听上方添加按钮点击事件
    form.on('submit(addCustomer)',function (data){

      //AJAX
      $.post(ctxPath+"addCustomer",data.field,function (d){
        console.log("6666》》》",d);

        if (d.code===0){
          //关闭弹出层
          layer.msg("添加成功",{icon:1,time:800},function () {

            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
          });

        }else {
          layer.msg("添加失败,"+d.msg,{icon:5,anim:6});

        }


      },"json");

      return false; //阻止表单跳转

    });








  });


</script>

</body>
</html>